{% extends "base.html" %}
{% load i18n %}
    {% block title %}SNAPBoard{% endblock %}
    {% block forum_header %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url snapboard_feeds "latest" %}" />
    {# this is required for some javascript rpc functions #}
    <script type="text/javascript">
        var SNAPBOARD_URLS = {
            'rpc_preview': '{% url snapboard_rpc_preview %}',
            'rpc_action': '{% url snapboard_rpc_action %}',
            'rpc_postrev': '{% url snapboard_rpc_postrev %}'
        };
        var SNAP_POST_FILTER = '{{ SNAP_POST_FILTER }}';
    </script>
    {# gotta come first #}
    <script type="text/javascript" src="{% url snapboard_js_i18n %}"></script>
    <script src="{{ SNAP_MEDIA_PREFIX }}/js/yui/yahoo-dom-event.js" type="text/javascript"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/cookie/cookie-min.js"></script>
    <script src="{{ SNAP_MEDIA_PREFIX }}/js/yui/connection-min.js" type="text/javascript"></script>
    <script src="{{ SNAP_MEDIA_PREFIX }}/js/thread.js?v=1234" type="text/javascript"></script>
    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(procAllTimeSince);
    </script>
    {% block snap_extra_head %}{% endblock %}
    {% endblock %}
</head>

{% block content %}
<section>
<div class="container">
    <div class="row">
        <div class="span16">
            <!--div id="navigation">
                <ul class="pills">
                    <li><a href="{% url snapboard_thread_index %}"><span>{% trans "All Discussions" %}</span></a></li>
                    <li><a href="{% url snapboard_category_index %}"><span>{% trans "Categories" %}</span></a></li>
                    {% if user.is_authenticated %}
                    {% endif %}
            <p class="pull-right">
            <a class="btn success large">Create a Post</a>
            </p>
    </ul>
            </div-->
                            {% if messages %}
                    <div class="messagelist">
                        <ul class="messagelist">
                            {% for msg in messages %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %} 
        </div>
    </div><!-- End Row -->
    <div class="row">
        <div class="span12">
                {% block snapboard_header %}
                {% endblock %}

                {% block snapboard_main %}
                {% endblock %}
         </div>
         <div class="span4">
            {% block snapboard_panel %}
                {% include "snapboard/include/side_panel.html" %}
            {% endblock %}
         </div>
     </div><!-- End Row -->
    {% endblock %}
