{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags %}
{% load extras %}

{% block snapboard_main %}
    <div class="page-header">
    <h1>
   {{ title }}
    </h1>
        {% autopaginate threads user_settings.tpp %}
        {% paginate %}
    </div>

    {% if threads %}
        {% for thread in threads %}
        <div class="row">
        <div class="span12">
            <div class="post-index">
                <div class="post-subject"><a href="{% url snapboard_thread thread.id %}">{{ thread.subject }}</a></div>
                <div class="post-info">
                    {% if thread.gsticky %}
                    <span class="label success">{% trans "STICKY" %}</span>
					{% else %}
					{% if category and thread.csticky %}
                    <span class="label success">{% trans "STICKY" %}</span>
					{% endif %}
                    {% endif %}
                    {% if thread.closed %}
                    <span class="label warning">{% trans "CLOSED" %}</span>
                    {% endif %}
                    {% with comment_count=thread.post_count|add:-1 %}
                    <span>{{ comment_count }} comment{{ comment_count|pluralize}}</span>
                    {% if comment_count >= 1 %}
                    <span>{% trans "Last updated by" %} {{ thread.last_poster }}
                    {% else %}
                    <span>{% trans "Started by" %} {{ thread.starter }}
                    {% endif %}
                    {% endwith %}
                    {{ thread.date|timesince }} {% trans "ago" %}</span>
                <span class="right">
                <a href="{% url snapboard_category_thread_index thread.category.id %}">
                    {{ thread.category }}
                </a>
            </span>
        </div>
        </div>
        </div>
    </div><!-- End Row -->
        {% endfor %}
        {% paginate %}{# XXX It's inefficient calling that twice for the same result #}

    {% else %}
        <p>{% trans "No threads are available." %}</p>
    {% endif %}
{% endblock %}
